.header {
	position: relative;
	&__images-block {
		display: flex;
		justify-content: space-between;
		@media (max-width: 768px) {
			justify-content: center;
			flex-wrap: wrap-reverse;
		}
	}
	&__logo {
		margin: 64px 0 0 115px;
		@media (max-width: 768px) {
			width: 100%;
			margin: 33px 0 0 0;
		}
	}
	&__secret-img {
		margin: 80px 60px 0 0;
		@media (max-width: 768px) {
			margin: 13px 0 0 0;
		}
	}
	&__title-block {
		display: flex;
		justify-content: center;
		@media (max-width: 768px) {
			margin-top: 20px;
		}
	}
}
