.aboutSkills__wrapper
  .aboutSkills__descriptions
    p(class="aboutSkills__title") Расскажите о себе чекбоксами
    p(class="aboutSkills__text")
      | Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
  .aboutSkills__checkbox-block
    form(name="aboutSkills" class="aboutSkills__form")
      .aboutSkills__form-item
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="metodologi" name="metodologi" checked)
          label(for="metodologi" class="aboutSkills__label") БЭМ/OOCSS
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="pug" name="pug" checked)
          label(for="pug" class="aboutSkills__label") Pug (Jade)
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="css" name="css" checked)
          label(for="css" class="aboutSkills__label") Stylus/LESS/SASS
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="svg" name="svg" checked)
          label(for="svg" class="aboutSkills__label") Работаю с SVG
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="html" name="html" checked)
          label(for="html" class="aboutSkills__label") Верстаю семантично
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="accessibility" name="accessibility")
          label(for="accessibility" class="aboutSkills__label") Accessibility (A11Y)
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="js" name="js" checked)
          label(for="js" class="aboutSkills__label") ES2015/ES2016
      .aboutSkills__form-item
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="gulp" name="gulp" checked)
          label(for="gulp" class="aboutSkills__label") Gulp/GRUNT
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="webpack" name="webpack" checked)
          label(for="webpack" class="aboutSkills__label") Webpack
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="webgl" name="webgl")
          label(for="webgl" class="aboutSkills__label") Дружу с WebGL
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="jquery" name="jquery" checked)
          label(for="jquery" class="aboutSkills__label") jQuery
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="angular" name="angular")
          label(for="angular" class="aboutSkills__label") Знаю/изучаю Angular
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="react" name="react" checked)
          label(for="react" class="aboutSkills__label") Знаю/изучаю React
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="node" name="node" checked)
          label(for="node" class="aboutSkills__label") Знаю/изучаю Node
      .aboutSkills__form-item
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="git" name="git" checked)
          label(for="git" class="aboutSkills__label") Использую Git
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="eyes" name="eyes" checked)
          label(for="eyes" class="aboutSkills__label") С глазамером всё ОК
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="read" name="read" checked)
          label(for="read" class="aboutSkills__label") Читаю 
            a(href="http://www.blog.csssr.ru" class="aboutSkills__link") blog.csssr.ru
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="work" name="work")
          label(for="work" class="aboutSkills__label") Я ленивый(-ая)
        .aboutSkills__item-checkbox
          input(type="checkbox" class="aboutSkills__checkbox" id="english" name="english" checked)
          label(for="english" class="aboutSkills__label")  
            span У меня хороший
            br
            span(class="br-text") английский  
         
        
