.footer__wrapper
  form(name="form-date" class="footer__form-date")
    label(class="footer__label" for="date") Дата заполнения
    input(type="text" id="date" name="date" class="footer__input" placeholder="17.07.2019") 