header(class="header")
  .header__images-block
    img(src=require("../images/logo-header.svg") class="header__logo")
    img(src=require("../images/secret-img.png") class="header__secret-img")
  .header__title-block
    img(src=require("../images/title-header.svg") class="header__title-img")  

