.human__data-form-block
  form(name="human-form" class="human__form")
    .human__form-item
      label(for="fio" class="human__form-label") Полное ФИО
      input(type="text" placeholder="Миракян Рафик Овикович" id="fio" name="fio" class="human__form-inp")
    .human__form-item
      label(for="year" class="human__form-label") Год рождения
      input(type="number" placeholder="1994" id="year" name="year" class="human__form-inp")
    .human__form-item
      label(for="location" class="human__form-label") Место жительства
      input(type="text" placeholder="г. Ереван, Армения" id="location" name="location" class="human__form-inp")
    .human__form-item
      label(for="skype" class="human__form-label") Скайп
      input(type="text" placeholder="Rafo17" id="skype" name="skype" class="human__form-inp")
    .human__form-item
      label(for="email" class="human__form-label") Почта
      input(type="email" placeholder="mrhshoes@gmail.com" id="email" name="email" class="human__form-inp")  