.skillJS__wrapper
  p(class="skillJS__title") Уровень владения JavaScript
  .skillJS__slider
    .skillJS__item-slider
      p.skillJS__description Не владею
    .skillJS__item-slider
      p.skillJS__description Использую готовые решения 
    .skillJS__item-slider
      p.skillJS__description 
        | Использую готовые решения
        br
        | и умею их переделывать
    .skillJS__item-slider(class="active-skills")
      p.skillJS__description Пишу cложный JS с нуля      