include ./components/base 
.main-wrapper
  include ./components/header
  include ./components/humanData
  include ./components/aboutSkills
  include ./components/skillJS
  include ./components/aboutMe
  include ./components/future
  include ./components/footer